body{
    background-image: url("https://images6.alphacoders.com/317/317990.jpg");
    background-repeat: no-repeat;
}

h1{
    color: rgb(0, 255, 64);

}

h2{
    color: rgb(230, 178, 165);

}

h3{
    color: blueviolet;
}


h4{
    color: brown;

}
h5{
    color: aquamarine;

}

h6{
    color: rgb(255, 0, 106);
}



